@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default, dim --prefersdark;
};

/* Inline math should stay inline */
mjx-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
/* Inline math should stay inline */
mjx-container.MathJax[jax="SVG"][display="true"] {
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.hidden {
  display: none;
}
.footnotes > h2 {
  display: none;
}

.card {
  margin: 0 0 1rem 0;
}
.card-body {
  font-size: 1.1em;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.prose-content h1, .prose-content h2, .prose-content h3,
    .prose-content h4, .prose-content h5, .prose-content h6 {
  margin: 1rem 0 0.5rem 0;
  font-weight: bold;
  color: var(--color-primary);
}

.prose-content h1 {
  font-size: 2rem;
}

.prose-content h2 {
  font-size: 1.5rem;
}

.prose-content h3 {
  font-size: 1.125rem;
}

.prose-content h4 {
  font-size: 1.065rem;
}

.prose-content h5 {
  font-size: 1rem;
}

.prose-content h6 {
  font-size: 0.875rem;
}
.prose-content p {
  margin: 0 0 1rem 0;
}

.prose-content {
  color: inherit;
  line-height: 1.75;
}

.prose-content a {
  text-decoration: underline;
}

.prose-content ul,
.prose-content ol {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  list-style-position: outside;
}

.prose-content ul {
  list-style-type: disc;
}

.prose-content ol {
  list-style-type: decimal;
}

.prose-content li {
  margin-bottom: 0.5rem;
}

.prose-content code {
  padding: 0.125rem 0.375rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: ui-monospace, monospace;
}

.prose-content pre {
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.prose-content pre code {
  background: transparent;
  padding: 0;
}

.prose-content blockquote {
  border-left-width: 4px;
  padding-left: 1rem;
  font-style: italic;
  margin: 1rem 0;
}

.prose-content img {
  border-radius: 0.5rem;
  margin: 1.5rem 0;
}

.prose-content strong {
  font-weight: 600;
}
